<%- include('includes/head.ejs') %>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
</head>
<body>
  <%- include('includes/navigation.ejs') %>
  <div class="card">
    <div class="star top">
        <img src="https://svgshare.com/i/YdG.svg">
    </div>
    <div class="star top-rg">
      <img src="https://svgshare.com/i/Ydc.svg">
    </div>
    <div class="star bottom-lf">
      <img src="https://svgshare.com/i/YdG.svg">
    </div>
    <div class="star bottom-rg">
      <img src="https://svgshare.com/i/Ydo.svg">
    </div>
    <div class="container flex">
        <div class="error">
            <span>404
                error
            </span>
        </div>
        <div class="img">
        <img src="https://svgshare.com/i/Ye7.svg">
        </div>

        
    </div>
  </div
  <%- include('includes/end.ejs') %>
