extends layouts/main-layout.pug

block styles 
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap", rel="stylesheet")

block content
    main 
        div.card
            .star.top 
                img(src="https://svgshare.com/i/YdG.svg")
            .star.top-rg
                img(src="https://svgshare.com/i/Ydc.svg")
            
            .star.bottom-lf
                img(src="https://svgshare.com/i/YdG.svg")
            
            .star.bottom-rg
                img(src="https://svgshare.com/i/Ydo.svg")
            
            .container.flex
                .error
                    span 404 error
                
                .img
                    img(src="https://svgshare.com/i/Ye7.svg")

