extends layouts/main-layout.pug

block content
    main-layout.pug 
            main 
                form.product-form(action='/admin/add-product', method='POST')
                    div.form-control
                        label(for='title') Title 
                        input(type="text", name="title")#title
                    button.btn(type="submit") Add Product
                
        
