doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{docTitle}
        link(rel="stylesheet", href="/css/main.css")
    body
        header.main-header 
            nav.main-header__nav 
                ul.main-header__item-list 
                    li.main-header__item 
                        a.active(href="/") Shop
                    li.main-header__item 
                        a(href="/admin/add-product") Add Product 
    main
        if prods.length > 0 
            .grid 
                each product in prods
                    article.card.product-item 
                        header.card__header 
                            h1.product__title #{product.title}    
                        .card__image 
                            img(src='https://images.unsplash.com/photo-1592496431122-2349e0fbc666?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Ym9vayUyMGNvdmVyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60' alt="a book")
                        .card__content 
                            h2.product__price $19.99
                            p.product_description A very interesting book
                        .card__actions 
                            button.btn Add to cart
        else
            h1 No Products