@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
  box-sizing: border-box;
}

body {
  /* background-color: white; */
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

main {
  padding: 1rem;
  margin: auto;
}

form {
  display: inline;
}

.main-header {
  width: 100%;
  height: 3.5 rem;
  background-color: rgb(118, 194, 130);
  padding: 0.6rem 1.5rem;
  display: flex;
  align-items: center;
}

.main-header__nav {
  height: 100%;
  display: none;
  align-items: center;
}

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header__item {
  margin: 0 1rem;
  padding: 0;
}

.main-header__item a {
  text-decoration: none;
  color: whitesmoke;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  text-decoration: none;
  color: rgb(46, 113, 206);
}

.mobile-nav {
  width: 30rem;
  height: 100vh;
  max-width: 90%;
  position: fixed;
  left: 0;
  top: 0;
  background: white;
  z-index: 10;
  padding: 2rem 1rem 1rem 2rem;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.mobile-nav.open {
  transform: translateX(0);
}

.mobile-nav__item-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.mobile-nav__item {
  margin: 1rem;
  padding: 0;
}

.mobile-nav__item a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
}

.mobile-nav__item a:active,
.mobile-nav__item a:hover,
.mobile-nav__item a.active {
  background: #00695c;
  color: white;
  border-radius: 3px;
}

#side-menu-toggle {
  border: 1px solid white;
  font: inherit;
  padding: 0.5rem;
  display: block;
  background: transparent;
  color: white;
  cursor: pointer;
}

#side-menu-toggle:focus {
  outline: none;
}

#side-menu-toggle:active,
#side-menu-toggle:hover {
  color: #ffeb3b;
  border-color: #ffeb3b;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}

.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
}

.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
}

.form-control label,
.form-control textarea {
  color: rgb(118, 194, 130);
}

.form-control input,
.form-control textarea {
  border: 1px solid rgb(118, 194, 130);
  font: inherit;
  border-radius: 2px;
}

.form-control input:focus,
.form-control textarea:focus {
  outline-color: rgb(113, 174, 122);
}

button {
  font: inherit;
  border: 1px solid rgb(118, 194, 130);
  color: rgb(118, 194, 130);
  background: white;
  border-radius: 3px;
  cursor: pointer;
}

button:hover,
button:active {
  background: rgb(118, 194, 130, 0.3);
  color: rgb(46, 113, 206, 0.7);
}
.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: auto;
  margin-bottom: auto;
}
.card404 {
  background-color: white;
  margin-top: 100px;
  position: relative;
}
.star {
  position: absolute;
}
.star img {
  width: 100%;
}

.top {
  left: 37px;
  top: -71px;
  width: 300px;
}
.top-rg {
  right: 37px;
  width: 83px;
  top: -71px;
}
.bottom-lf {
  bottom: -160px;
  width: 300px;
  left: 37px;
}
.bottom-rg {
  right: 37px;
  bottom: -160px;
  width: 83px;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  z-index: 1;
  position: relative;
}

.error span {
  font-size: 90px;
  color: #150035;
  font-weight: 900;
  white-space: pre-line;
  line-height: 1;
  letter-spacing: 3px;
  text-shadow: 1px 7px 1px #fff;
}
.error p {
  color: #fff;
  white-space: pre-line;
  padding-top: 25px;
  font-size: 15px;
  line-height: 1.3;
}

.img img {
  width: 570px;
}

/* PRODUCT FORM */
.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
  display: block;
}

.product-item {
  width: 20rem;
  max-width: 95%;
  margin: 1rem;
}

.product__title {
  font-size: 1.2rem;
  text-align: center;
}

.product__price {
  text-align: center;
  color: #4d4d4d;
  margin-bottom: 0.5rem;
}

.product__description {
  text-align: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.card__header,
.card__content {
  padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__image {
  width: 100%;
}

.card__image img {
  width: 100%;
}

.card__actions {
  padding: 1rem;
  text-align: center;
}

.card__actions button,
.card__actions a {
  margin: 0 0.25rem;
}

.btn {
  display: inline-block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  border: 1px solid #00695c;
  color: #00695c;
  background: white;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #00695c;
  color: white;
}

@media (min-width: 768px) {
  .main-header__nav {
    display: flex;
  }

  #side-menu-toggle {
    display: none;
  }
}
